# Used for caching frequently used data + publishing async background jobs (Change password on PROD)
REDIS_URL='redis://default:docker@localhost:6379/0'
# Get this on https://resend.com/api-keys
RESEND_KEY='re_{$}'

# You can put anything as secrets but we recomend generating strong keys at https://tooleroid.com/jwt-secret-generator
JWT_SECRET='' # Used to sign the JWTS
COOKIE_ENCRYPTION_SECRET='' # Used to encrypt cookies

COOKIE_DOMAIN='localhost' # For signing cookies

GOOGLE_AUTH_CLIENT_ID=''
GOOGLE_AUTH_CLIENT_SECRET=''
GOOGLE_AUTH_REDIRECT_URI='http://localhost:3333/auth/google/callback'

# Cloudflare Turnstile (get keys at https://dash.cloudflare.com/?to=/:account/turnstile)
TURNSTILE_SECRET_KEY='1x0000000000000000000000000000000AA'

# Port for the API to run on
NODE_PORT=3333
FRONTEND_URL='http://localhost:3000'
ADMIN_URL='http://localhost:6969'

# Get this on https://dashboard.clerk.com/apps/{app_id}/instances/{instance_id}/api-keys
CLERK_SECRET_KEY=''

# Cloudflare R2
CLOUDFLARE_API_TOKEN=''
R2_ACCESS_KEY_ID=''
R2_SECRET_ACCESS_KEY=''
R2_BUCKET_URL=''
R2_REGION='auto'
R2_PUBLIC_BASE_URL=''
R2_PRESIGN_EXPIRES_IN='600'
