# Used for caching frequently used data + publishing async background jobs
REDIS_URL=''

# You can put anything as secrets but we recomend generating strong keys at https://tooleroid.com/jwt-secret-generator
JWT_SECRET='' # Used to sign the JWTS
COOKIE_ENCRYPTION_SECRET='' # Used to encrypt cookies

COOKIE_DOMAIN='localhost' # For signing cookies

#
GOOGLE_CLIENT_ID=''
GOOGLE_AUTH_CLIENT_ID=''
GOOGLE_AUTH_CLIENT_SECRET=''
GOOGLE_AUTH_REDIRECT_URI=''

# Port for the API to run on
NODE_PORT='3333'
FRONTEND_URL='http://localhost:3000'
