# Get these on https://dashboard.clerk.com/apps/{app_id}/instances/{instance_id}/api-keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=''
CLERK_SECRET_KEY=''

NEXT_PUBLIC_API_URL='http://localhost:3333'
REDIS_URL='redis://default:docker@localhost:6379/0' # Change password on prod!!
FRONTEND_URL='http://localhost:3000'
