# Get this on https://resend.com/api-keys
RESEND_KEY='re_{$}'
# Used for caching frequently used data + publishing async background jobs (Change password on PROD)
REDIS_URL='redis://default:docker@localhost:6379/0'
